doctype html
html(lang='en')
  head
    meta(name='description', content="I'm Rob! Check out my website to learn more about me, what I do, what I can do, and how I spend my free time.")
    meta(name='subject', content="I'm Rob. I manage projects, record audio, make websites, teach, and write.")
    meta(name='copyright', content='Rob Petrin')
    meta(name='language', content='EN')
    meta(name='robots', content='index,follow')
    meta(name='abstract', content='')
    meta(name='author', content='rob@petr.in')
    meta(name='owner', content='Rob Petrin')
    meta(name='url', content='//petr.in')
    meta(charset='UTF-8')
    title Rob Petrin -- Project Manager, Voice Artist, Writer, Teacher
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='canonical', href='//petr.in')
    link(rel='stylesheet', href='//unpkg.com/spectre.css/dist/spectre.min.css')
    link(rel='stylesheet', href='//unpkg.com/spectre.css/dist/spectre-exp.min.css')
    link(rel='stylesheet', href='//unpkg.com/spectre.css/dist/spectre-icons.min.css')
    link(rel='stylesheet', href='//use.fontawesome.com/releases/v5.6.3/css/all.css')
    link(rel='icon', type='image/png', href='img/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='img/favicon-16x16.png', sizes='16x16')
    link(rel='stylesheet', href='css/style.css')
  body
    .master-container
      .intro-panel
        .intro-overlay
          .container
            .columns
              .column.col-3
                img.picture-rob(src='img/rob.jpg')
              .column.col-9
                .columns.contact-icons
                  .column.col-12.name
                    h1.name I'm Rob!
                  .column.col-8
                    .columns
                      .column.col-2
                        a(href='//www.instagram.com/robpetrin/', target='_blank')
                          i.fab.fa-instagram.social-icons
                      .column.col-2
                        a(href='//twitter.com/robpetrin', target='_blank')
                          i.fab.fa-twitter.social-icons
                      .column.col-2
                        a(href='//www.linkedin.com/in/robpetrin', target='_blank')
                          i.fab.fa-linkedin-in.social-icons
                      .column.col-2
                        a(href='//github.com/robpetrin/', target='_blank')
                          i.fab.fa-github.social-icons
                      .column.col-2
                        a(href='//codepen.io/robpetrin/', target='_blank')
                          i.fab.fa-codepen.social-icons
                      .column.col-2
                        a(href='mailto:rob@petr.in')
                          i.fas.fa-envelope.social-icons
                  .column.col-4.resume
                    a(href='//drive.google.com/file/d/1_UGuj15P338W67UpomhFDAFd1zsY2Nn5/view?usp=sharing', target='_blank')
                      span.resume Resume
      details.accordion(open='')
        summary.accordion-header
          i.icon.icon-arrow-right.mr-1
          | Project Manager at
          span.pixels-orange  Pixels 360
        .accordion-body.pixels
          .accordion-overlay
            p.accordion-detail
              | I've served as Project Manager at Pixels 360 since November of 2017. It's been a wonderful opportunity to work closely with world-class front-end and back-end Engineers to produce top-quality web applications.
            a(href='//pixels-360.com', target='_blank')
              img.pixels-logo(src='img/pixels-360.svg')
            p.accordion-detail
              | In this role, I've been able to get first-hand experience manging projects for some of the biggest names in technology and business. I've been able to utilize skills from previous education and work experience, while sharpening my skills in web development, teaching, mentoring, customer service, and organization.
      details.accordion
        summary.accordion-header
          i.icon.icon-arrow-right.mr-1
          | Full-Stack Developer
        .accordion-body.coder
          .accordion-overlay
            p.accordion-detail
              | By day, I manage Engineers who build web applications. However, I've built hundreds of sites since I was a pre-teen. My experience ranges from basic sites for local businesses, to promising startups, established tech giants, and world-class institutions.
            .container
              .columns
                .column.col-3
                  img.prof-logo(src='img/vmware-logo.png')
                .column.col-3
                  img.prof-logo(src='img/harvard.png')
                .column.col-3
                  i.fab.fa-docker
            p.accordion-detail
              | I live on HTML, CSS, and JavaScript, and love learning new preprocessors and supersets like Pug, Stylus, or TypeScript. I prefer Node.JS for my projects, and love trying out new packages and frameworks. I have experience with relational and non-relational databases. And while I don't prefer to write PHP, years of WordPress have made me semi-proficient.
            .container
              .columns.dev-icons
                .column.col-3
                  i.fab.fa-html5
                .column.col-3
                  i.fab.fa-css3-alt
                .column.col-3
                  i.fab.fa-js-square
                .column.col-3
                  i.fab.fa-node-js
                .column.col-3
                  i.fab.fa-npm
                .column.col-3
                  i.fab.fa-github
                .column.col-3
                  i.fab.fa-gulp
                .column.col-3
                  i.fab.fa-grunt
                .column.col-3
                  i.fab.fa-sass
                .column.col-3
                  i.fab.fa-php
                .column.col-3
                  i.fab.fa-wordpress-simple
                .column.col-3
                  i.fab.fa-drupal
                .column.col-3
                  i.fab.fa-linux
                .column.col-3
                  i.fab.fa-aws
                .column.col-3
                  i.fab.fa-digital-ocean
              p.accordion-detail
                | Recent projects include Homebody Media, St. Mary's Schools of Worcester, Virginia Association of School Librarians, and The Water Coolest.
            .container
              .columns.col-gapless
                .column
                  a(href='//homebody.media', target='_blank')
                    button.homebody Homebody Media
                .column
                  a(href='//thewatercoolest.com', target='_blank')
                    button.twc
                      img.twc-button(src='img/twc-logo.png')
            p
      details.accordion
        summary.accordion-header
          i.icon.icon-arrow-right.mr-1
          | Technical Writer
        .accordion-body.writer
          .accordion-overlay
            p.accordion-detail
              | My bachelor's degree is in Writing & Rhetoric. While it's hard to find a job writing (trust me), it's not hard to find a job where writing is integral to success. Though it's bordering on a decade in the past, I still reference writing samples from my senior portfolio. Truth be told, I don't write for fun and never have. But it's the skill I put to use more than any other in my main role at Pixels.
            .container
              .columns.col-gapless
                .column.col-12
                  a(href='//drive.google.com/drive/folders/0BzY1JyiP5mlnQXBUUm1WMjA4ZTg?usp=sharing', target='_blank')
                    button.portfolio
                      i.fas.fa-pen-alt
                      |  Writing Portfolio
            p
            p.accordion-detail
              | In my past, I've written for Blogs and Columns. I don't currently, but if I ever do it again I'll feature it here. I flex my writing muscles primarily with documentation for clients on web applications I manage. While I don't seek out opportunities to add content to pamphlets or write instruction manuals -- I'd probably be pretty good at it.
      details.accordion
        summary.accordion-header
          i.icon.icon-arrow-right.mr-1
          | Teacher, Trainer & Tutor
        .accordion-body.teacher
          .accordion-overlay
            p.accordion-detail
              | My master's degree is in Secondary Education. Specifically, I taught Social Studies to grades six through 12. I loved my time in education, and was thoroughly involved as a coach of multiple sports, and an active volunteer for extracurricular activities. If I ever had the opportunity to lecture, I'd be lying if I said I wouldn't be tempted.
            .container
              .columns.col-gapless
                .column.col-12
                  a(href='//drive.google.com/open?id=0BzY1JyiP5mlnbDg4RHloSWJFYmM', target='_blank')
                    button.portfolio
                      i.fas.fa-chalkboard-teacher
                      span Teaching Portfolio
            p
            p.accordion-detail
              | I still consider myself a Social Studies nerd, actively keeping up with my subjects such as Civics, History, Psychology, Current Events, and Geography. While I don't actively seek opportunities to train or tutor, I make myself available for it on the side.
              .container
                .columns.col-gapless
                    .column.col-12
                        a(href='//www.chegg.com/tutors/online-tutors/Rob-P-0006459/', target='_blank')
                          button.chegg
                            img.chegg-button(src='../img/chegg.png')
      details.accordion
        summary.accordion-header
          i.icon.icon-arrow-right.mr-1
          | Voice Talent & Audio Producer
        .accordion-body.audio
          .accordion-overlay
            p.accordion-detail
              | I have over a decade of experience in both voiceover work and audio editing. My work began in radio, interning at several area radio stations, before moving primarily into working on podcasts. My time has been split equally between behind the microphone and in the editing bay.
              .container
                .columns.col-gapless
                  .column.col-12
                    button.portfolio#audio-button
                      i.fas.fa-play#play-pause-button
                      span Audio Sample

              p.accordion-detail 
              | I actively entertain offers that allow me to further my reputation, and build my portfolio. Getting paid to do so is just an added bonus, rather than a primary goal.
            .container
              .columns.col-gapless
                .column.col-12
                  a(href='//www.fiverr.com/robpetrin', target='_blank')
                    button.fiverr
                      img.fiverr-button(src='img/fiverr.png')
            p
            p.accordion-detail
              | As a talking head, I most notably serve as the "Director of Communications" for The Water Coolest -- a business-focused daily newsletter marketed towards millenials. I've voiced their podcast since late 2017. I also produce and edit audio for Homebody Media, an upstart podcasting network.
            .container
              .columns.col-gapless
                .column.col-6
                  a(href='//homebody.media', target='_blank')
                    button.homebody Homebody Media
                .column.col-6
                  a(href='//anchor.fm/watercoolesthq/', target='_blank')
                    button.twc
                      img.twc-button(src='img/twc-logo.png')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='js.index.js')
      // Global site tag (gtag.js) - Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-129499005-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-129499005-2');
