@import url("https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto");
body {
  background-image: linear-gradient(to top, #755780, #6c5781, #625781, #585681, #4e5680, #4a5886, #44598d, #3c5b93, #395fa3, #3663b3, #3467c4, #336bd4);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.email-drawer {
  display: none;
  background: #fff;
  width: 100%;
  transition: 0.5s;
}
.email-drawer h3 {
  font-size: 2rem;
}

form {
  overflow: hidden;
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 3px solid #121212;
  text-color: #121212;
}

form > button {
  margin: 1em auto;
  width: 100%;
}

h1, h2, h3 {
  text-align: center;
  letter-spacing: 2px;
  font-family: "Permanent Marker", cursive;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 0.25em 0;
  color: #fff;
  text-shadow: 3px 3px #121212;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25em;
}

.social-item, button {
  background: #fff;
  color: #121212;
  font-size: 1.4rem;
  padding: 0.6em 0.7em;
  border-radius: 100%;
  border: 2px solid #121212;
  transition: 0.5s;
}

a {
  text-decoration: none;
  display: block;
}

button {
  border-radius: 2em;
  margin: auto;
  width: 90%;
  max-width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Permanent Marker", cursive;
}

.social-item:hover, .social-item:active, .social-item:focus, button:hover, button:active, button:focus {
  background: #121212;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0.75;
}

.photo-wrap {
  margin: 0.25em;
  background: red;
  border-radius: 100%;
  background: url(https://petr.in/img/rob.jpg);
  background-size: cover;
  border: 2px solid #121212;
}

.photo {
  padding: 2em;
  border-radius: 100%;
  border: 3px solid #fff;
}

.photo:hover, .photo:active, .photo:focus {
  cursor: pointer;
}
.photo:hover #resume, .photo:active #resume, .photo:focus #resume {
  background: #fff;
  color: #121212;
  border: 3px solid #121212;
  transition: 0.5s;
  cursor: inherit;
}

#resume {
  background: #121212;
  font-size: 0.8rem;
  color: #fff;
  position: absolute;
  margin: 0 auto;
  margin-top: 1.75em;
  padding: 0.2em 0.75em;
  border-radius: 1em;
  border: 3px solid #fff;
  left: 0;
  right: 0;
  text-align: center;
  width: 6.5em;
  transition: 0.5s;
}

#resume:hover, #resume:active, #resume:focus {
  background: #fff;
  color: #121212;
  border: 3px solid #121212;
  transition: 0.5s;
}

.nav {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  color: #fff;
  text-shadow: -2px 0px #121212;
  font-size: 2rem;
}

.nav-item {
  padding: 0.5em;
  border-bottom: 3px solid transparent;
  transition: 0.5s;
}

.nav-item:active, .nav-item:hover, .nav-item:focus {
  border-bottom-color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.active {
  border-bottom-color: #fff;
}

.main {
  padding: 0 1em;
  color: #fff;
  line-height: 150%;
  text-shadow: 1px 1px #121212;
  text-align: justify;
  width: 90%;
  max-width: 400px;
}

.main > div {
  transition: 0.5s;
  display: none;
  overflow-y: scroll;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 150%;
  text-shadow: 2px 2px #121212;
}

.narrower {
  letter-spacing: 1px;
}

.emojis {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  font-size: 1.75rem;
}

.logo {
  display: block;
  margin: auto;
  height: 40px;
  width: auto;
  transition: 0.5s;
}

.logo:hover {
  transform: scale(1.25);
  transition: 0.5s;
}

.icon-row-clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}
.icon-row-clients img {
  max-width: 33%;
  max-height: 40px;
}
.icon-row-clients i {
  font-size: 2.5rem;
}
.icon-row-clients i:hover, .icon-row-clients i:focus, .icon-row-clients img:hover, .icon-row-clients img:focus {
  transition: 0.5s;
  transform: scale(1.1);
}

.icon-row-stack {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 0.5em;
}
.icon-row-stack i {
  max-width: 25%;
  font-size: 2.5rem;
  flex: 25%;
  margin: 0.125em 0;
  display: block;
  align-self: center;
  transition: 0.5s;
  position: relative;
}
.icon-row-stack i:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
.icon-row-stack i::after {
  display: none;
  content: attr(val);
  font-size: 0.6rem;
  position: absolute;
  top: 0.8em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 6.5em;
  font-family: "Roboto", sans-serif;
  background: #121212;
  color: #fff;
  border-radius: 1em;
  border: 1px solid #fff;
  padding: 0.25em 0;
}
.icon-row-stack .show-icon::after {
  display: block;
}
.icon-row-stack .fa-npm {
  font-size: 5rem;
}
.icon-row-stack .fa-npm::after {
  top: 2em;
  padding: 0.25em 0;
}
.icon-row-stack .multi-line {
  font-size: 2.75rem;
}
.icon-row-stack .multi-line::after {
  top: 0.6em;
  padding: 0.125em 0;
  width: 7.5em;
}

@media (min-width: 600px) {
  .nav {
    width: 500px;
  }

  .main {
    max-width: 550px;
  }
}
@media (min-width: 900px) {
  .nav {
    width: 600px;
  }

  .main {
    max-width: 700px;
  }

  .icon-row-stack > i {
    flex: 15%;
  }
}
